@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&family=Titillium+Web:wght@300&family=Ubuntu:wght@300&display=swap');

#root {
  max-width: max-content;
  max-height: max-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(./assets/back.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  font-family: 'Titillium Web', sans-serif;
}
